@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); .notosanskr * { font-family: 'Noto Sans KR', sans-serif; }
@import url('https://fonts.googleapis.com/css?family=Song+Myung');
@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
@font-face { font-family: 'SeoulNamsanM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff'); font-weight: normal; font-style: normal; }

/* 네브바 등 기본 */
 html * {
   font-family: 'SeoulNamsanM', serif;
 }
 .loader_img{
   margin-top:40vh;
   width:40px;
 }
 .mt-3{
   margin-top:20px;
 }
 .mt-4{
   margin-top:30px;
 }
 .no-pb{
   padding-bottom: 0px!important;
 }
 .mb-0{
   margin-bottom: 0px;
 }
 .mt-0{
   margin-top: 0px;
 }
 .mt-1{
   margin-top: 5px;
 }
 .right_nav{
   float:right;
 }
 .main_logo{
   margin-top:8px;
   width:40px;
 }
 .hidden{
   display: none!important;
 }
 nav ul a {
   transition: background-color .3s;
   font-size: 0.92rem;
   letter-spacing: 0.13rem;
   color: #fff;
   display: block;
   padding: 0 15px;
   cursor: pointer;
 }
 .side-nav li > a {
   color: white;
   display: block;
   font-size: 0.92rem;
   font-weight: 500;
   letter-spacing: 0.13rem;
   height: 48px;
   line-height: 48px;
   padding: 0 32px;
}


/* 메인 페이지 */
.input-field{
  color:white;
}

@media screen and (min-width: 768px) {
 .main_logo{
   margin-top:9px;
   width:45px;
 }
}
.ban2{
  opacity: 0.6;
  background: asset_url('coverimg.jpg');
}
#ban2{
    height:210vw;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    min-height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
#bansignin{
    height:100vw;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    min-height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-perspective: 200px;
    -o-perspective: 200px;
    perspective: 200px;
}
/* 홈 화면 */
.form_field{
  margin-top:30px;
}
.banner1{
  background: url("images/bannerimg.jpg"); 
  /*background: #fff8f7;*/
}
#banner1{
    height:260px;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom:20px;
}
.banner1_text{
    margin-top:70px;
    color:white;
    text-shadow: 2px 3px 4px rgba(0,0,0,0.9);
}
.bt1{
    margin-top: 0px;
    margin-bottom:0px;
    font-size:28px;
}
.bt2{
    margin-top:0px;
    margin-bottom:20px;
    font-size:28px;
    letter-spacing:0.07em;
}
.btnban{
    letter-spacing:0.09em;
    font-weight:300;
}
.cardtext{
    font-size:16px;
}
.chipcss{
    margin-top:15px;
}
#query{
  box-sizing:inherit;
  text-align: center;
  background-color: white;
  border-bottom:0px;
  border-radius: 0.1em;
  padding-left: 10px;
  padding-right: 10px;
  font-size:18px;
}
.brand-logo{
  font-size:17px!important;
  letter-spacing: 0.06em;
}
.bigger > p{
  font-size:16px;
}
.read_cont{
  font-weight: 600;
  font-size:17px;
  margin-bottom:10px!important;
}
.pinked{
  color:#ff8a80;
  font-size:18px;
}
.save_btn{
  width: 100%;
  font-size:14px;
  color:white;
  letter-spacing: 0.08em;
  font-weight: 500;
}
.button_panel{
  margin-top: 30px;
}
.saved_btn{
  position: absolute;
  right:0px;
  top:0px;
  padding:0px 10px 0px 10px;
  background-color:#1de9b6;
  font-size:13px;
  color:white;
  letter-spacing: 0.08em;
  font-weight: 500;
}
.readable_up{
  letter-spacing: 0.06em;
  line-height: 1.8rem;
}
.card_kor{
  font-weight: 700;
  font-size:16px;
}
.req_log{
  font-size:21px;
}
.collapsible-header{
  font-size:17px;
}
.collapsible-header > i{
  font-size:25px;
}
.collapsible-body > span{
  letter-spacing: 0.05em;
  line-height: 2rem;
  font-size:16px;
}
.num_idx{
  color:white!important;
  background-color: #ff8a80;
  padding:0px 8.5px 0px 8.5px;
}
.del_btn{
  color:white;
}
.dano_title{
  color:#595959;
  letter-spacing: 0.06em;
  font-weight: 600;
  font-size: 21px;
  margin-top:30px;
  margin-bottom:30px;
}

/* 회원가입 */
.signincover{
  margin-top:50px;
}
.centerer{
  text-align:center;
}
.labelcss{
  font-size:20px;
}
.btndiv{
  margin-top:20px;
  margin-bottom:30px;
}
.mtbtn{
  background-color:#ff8a80;
  padding-left:50px;
  padding-right:50px;
  border-radius:25px;
}
.mtbtn:hover{
  background-color: #a521d1;
}
.signuplink{
  margin-bottom:30px;
}
.signupbtn{
  color:#ff5252;
  font-weight:bold;
}
.signupbtn:hover{
  color:#691187;
  font-weight:bold;
}
#ban2{
    height:210vw;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    min-height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
#bansignin{
    height:100vw;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    min-height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-perspective: 200px;
    -o-perspective: 200px;
    perspective: 200px;
}
.section__category {
  color:white;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.27em;
  text-transform: uppercase;
  margin-top:35vw;
  margin-bottom:10px;
}
.fontvert{
  padding-top:130px;
}
@media screen and (min-width: 150px) {
#bexp1{
  font-size:23px;
}
#exp1{
  margin-top:0px;
  margin-bottom:3px;
  font-size:15px;
  font-weight:500;
}
#conv1i_2{
  padding-left:33px;
}
#conv2i{
  padding-left:33px;
}
}
@media screen and (min-width: 500px) {
 #spt1{
   height:120vw;
 }
 #spt2{
   height:120vw;
 }
 #spt3{
   height:120vw;
 }
 #spt4{
   height:120vw;
 }
}
@media screen and (min-width: 768px) {
#section__category2 {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.27em;
  text-transform: uppercase;
  margin-top:23vh;
  margin-bottom:10px;
}
  .covermain{
    width:200px;
  }
  #section__title {
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 1.44;
    letter-spacing: 0.06em;
    color:white;
    text-shadow: 3px 3px 2px rgba(0,0,0,0.6);
  }
  #section__title2 {
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 1.44;
    letter-spacing: 0.06em;
    color:white;
    text-shadow: 3px 3px 2px rgba(0,0,0,0.6);
  }
 #spt1{
   height:100vw;
 }
 #spt2{
   height:100vw;
 }
 #spt3{
   height:100vw;
 }
 #spt4{
   height:100vw;
 }
#ban2{
    height:100vh;
}
#bansignin{
    height:60vh;
}
#about__number{
  display: block;
  font-size: 1.333rem;
  line-height: 1.37;
}
#conv1i{
  padding-left:30px;
  padding-right:0px;
}
#conv1i_2{
  padding-left:30px;
  padding-right:0px;
}
#conv2i{
  padding-left:0px;
  padding-right:30px;
}
#fontvert{
  padding-top:19vh;
}
#bexp1{
  font-size:28px;
}
#exp1{
  margin-top:0px;
  margin-bottom:3px;
  font-size:14px;
  font-weight:500;
}
#about__datum {
  border-right: 2px solid rgba(153,153,153,.5);
  border-left: 2px solid rgba(153,153,153,.5);
  color:white;
  letter-spacing: 0.03em;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  font-size:16px;
}
}

@media screen and (min-width: 992px) {
 #spt1{
   height:70vh;
 }
 #spt2{
   height:70vh;
 }
 #spt3{
   height:70vh;
 }
 #spt4{
   height:70vh;
 }
#ban2{
    height:100vh;
}
#bansignin{
    height:60vh;
}
#section__category {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.27em;
  text-transform: uppercase;
  margin-top:29vh;
  margin-bottom:10px;
}
#section__category2 {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.27em;
  text-transform: uppercase;
  margin-top:23vh;
  margin-bottom:10px;
}
#fontvert{
  padding-top:18vh;
  padding-bottom:1.5vh;
}
#bexp1{
  font-size:37px;
}
#exp1{
  margin-top:0px;
  margin-bottom:3px;
  font-size:17px;
  font-weight:500;
}
#conv1i{
  padding-left:80px;
  padding-right:0px;
}
#conv2i{
  padding-left:0px;
  padding-right:80px;
}
#conv1i_2{
  padding-left:140px;
  padding-right:0px;
}
}
.section__heade{
  letter-spacing:0.2em;
  color:white;
  text-shadow: 2px 3px 4px rgba(0,0,0,0.9);
}



.kakao_btn{
  width:220px;
}
.covermain{
  width:130px;
}
.nav_img{
  width:100px;
}
.no_query{
  font-size: 16px;
}
.menu_exp{
  font-size:12px;
}


.introimage{
  margin-top:50px;
  margin-bottom:40px;
  width:250px;
}
.introname{
    margin-bottom:10px;
}
.introtext{
    margin-bottom:20px;
}
.contact1{
    color:#515151;
    letter-spacing:0.07em;
    font-size:13px;
    margin-bottom:0px;
}
.contact2{
    color:#515151;
    letter-spacing:0.07em;
    font-size:13px;
    margin-top:5px;
    margin-bottom:0px;
}
.contact3{
    color:#515151;
    letter-spacing:0.07em;
    font-size:13px;
    margin-top:5px;
    margin-bottom:40px;
}